
fieldset.radiogroup  {
    margin: 0;
    padding: 0;
    margin-bottom: 1.25em;
    padding: .125em;
}

fieldset legend {
    font-weight: bold;
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: black;
}


ul.radio  {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    list-style: none;
}

ul.radio li {
    border: 1px transparent solid;
}

ul.radio li:hover,
ul.radio li.focus  {
    background-color: pink;
    border: 1px gray solid;
    width: 10em;
}
